<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8 " http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @reservation.email %></h1>
    <p>Your confirmation for <%=@restaurant.name %> at <%= @reservation.date_time %> has been confirmed</p>
  </body>


</html>